.carousel {

    .carousel-toggle {

        position: relative;

        .carousel-clicker-container {

            position: absolute;
            top: 0;
            left: 0;

            z-index: 50;

            min-height: 100%;
            min-width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .carousel-clicker {
                color: rgba($grey-100,.5);
                font-size: 2.5rem;
                font-weight: bolder;
                text-decoration: none;
                transition: all 1s;
                &:hover {
                    color: rgba($grey-100,.95);

                }
            }

        }




    }
    
    .carousel-target {

        background-color: $grey-800;
        
        display: none;
        position: fixed;
        top: 0;
        left: 0;

        min-width: 100%;
        min-height: 100%;

        z-index: 100;



        a {

            padding: .75rem;
    
            border-left: 1px solid $grey-600;
    
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $grey-500;
            transition: all 1s;
            &:hover {
                color: $white;
                background-color: $grey-900;
            }
        }

        .carousel-btn-top {

            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            z-index: 100;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            border-bottom: 1px solid $grey-600;
            background-color: rgba($grey-800, 0.5);

            .btn-fullscreen-exit {
                display: none;
            }


        }

        .carousel-btn-bottom {

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            z-index: 100;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            border-top: 1px solid $grey-600;
            background-color: rgba($grey-800, 0.5);

        }

        .carousel-stage {

            .carousel-item {

                .carousel-img-container {

                    height: 100vh;
    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    img {
                        margin-top: 0;
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }
    
                .carousel-txt-container {
                    
                    position: fixed;
                    bottom: 3rem;
                    left: 0;
                    
                    padding: 1rem;
    
    
                    .carousel-item-info {
                        background-color: rgba($grey-900,0.9);
                        border-radius: .5rem;
    
                        padding: 1rem;
    
                        width: 100%;
                        max-width: 600px;
    
                        .title-container {
                            display: flex;
                            flex-direction: row;
                            align-items:flex-start;
                            justify-content: space-between;
                            margin-bottom: .5rem;
                            color: $grey-500;
    
                            .title {
                                width: 90%;
                                font-size: 1.25rem;
                                text-align: left;
                            }
        
        
                            span {
                                text-align: right;
                                width: 10%;
                                font-size: .875rem;
                                margin: .125rem;
                            }
                        }
        
        
        
                        p {
                            font-size: .875rem;
                            line-height: 1.5rem;
                            color: $grey-500;
                            text-align: justify;
        
                            border-top: 1px solid $grey-600;
                            padding: .25rem 0;
        
                            span {
                                font-size: .75rem;
                                margin: .25rem 0;
                            }
        
                        }
    
                    }
    
                }
    
            }

        }


    }

}
