.markdown {

    figure {
        border: 1px solid $grey-300;
        background-color: $grey-100;
        margin: 1rem 0 0;
        padding: .5rem;
        img {
            margin-top: 0;
            width: 100%;
            max-width: 100%;
    
        }
    
        figcaption {
    
            text-align: right;
            font-size: .75rem;
            padding: .5rem .25rem 0;
    
        }
    }

}


