.info {
    border-left: .375rem solid blue;
    background-color: rgba(blue,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    font-size: .875rem;
    line-height: 1.5rem;
}

.warning {
    border-left: .375rem solid orange;
    background-color: rgba(orange,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    font-size: .875rem;
    line-height: 1.5rem;
}

.danger {
    border-left: .375rem solid red;
    background-color: rgba(red,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    font-size: .875rem;
    line-height: 1.5rem;
}

.screen {
    border-left: .375rem solid $grey-600;
    background-color: rgba($grey-600,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    font-family: $monospace;
    font-size: .875rem;
    line-height: 1.5rem;
}