.markdown {

    figure {

        margin: 1rem 0 0;

        img {
            margin-top: 0;
            width: 100%;
            max-width: 100%;
    
        }
    
        figcaption {
    
            text-align: right;
            font-size: .875rem;
            padding: .5rem .25rem 0;
    
        }
    }

}