<div class="container-fluid bg-header bb-1">
    <div class="container">
        <div id="header">
            <p class="title">{{.Site.Title}}</p>
            <nav class="menu">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    {{ $active := eq .Name $current.Title }}
                    {{ $active = or $active ( eq .Identifier $current.Section ) }}
                    <a class="menu-item {{ if $active }} active {{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </nav>
        </div>
    </div>
</div>
