<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- Favicon created by https://www.logosc.cn/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="{{"./vendor/bootstrap-icons-1.11.3/font/bootstrap-icons.css" | relURL }}">

<!-- SASS -->
{{- with resources.Get "sass/main.scss" | resources.ToCSS (dict "targetPath" "css/main.css" ) }}
<link href="{{ .RelPermalink }}" rel="stylesheet" type="text/css">
{{- end }}