{{ define "stager-aside" }}
    <div id="menutree" class="aside-inner-container">
        {{ partial "components/menutree.html" . }}
    </div>
{{ end }}

{{ define "stager-main" }}
    <div class="main-inner-container-1">
        {{ partial "components/breadcrumb.html" . }}
        {{ partial "components/article.html" . }}
        {{ partial "components/navigator.html" . }}
    </div>
    <div class="main-inner-container-2">
        <div class="container-2-inner">
            {{ partial "components/tableofcontent.html" . }}
        </div>
    </div>
{{ end }}