.bg-header {
    background-color: $header-background-color;
} 

.bg-footer {
    background-color: $footer-background-color;
} 

.bg-necker {
    background-color: $necker-background-color;
}

.bg-stager {
    background-color: $stager-background-color;
}

