.bg-white {
    background-color: $white;
}

.bg-grey-100 {
    background-color: $grey-100;
}

.bg-grey-200 {
    background-color: $grey-200;
}

.bg-primary-dark {
    background-color: $primary-dark;
}

.bg-primary {
    background-color: $primary;
} 

.bg-primary-light {
    background-color: $primary-light;
}