.container-fluid {
    width: 100%;
    overflow: auto;
}

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
}

.container-aside {
    padding: 0 1.5rem 2.5rem;
}

@media (min-width: $lg) {
    .container-aside {
        padding: 0 0 2.5rem 2rem;
    }
}



@media (min-width: $xl) {
    .container {
        max-width: $container-max-width + 200px;
    }
}