.container-fliud {
    width: 100%;
}

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
}

.holder {
    width: 1rem;
    height: 1rem;

}

.container-main {
    background-color: $white;
    padding: .5rem;
    margin-bottom: 3rem;
}

.container-main-item {
    padding: .5rem;
}

.container-card {
    margin: 1rem 1rem 2rem;
}


@media (min-width: $md) {
    .container-main {
        margin-left: 1rem;
    }
    .container-card {
        margin: 0 1rem 2rem 0;
    }
}

@media (min-width: $xl) {
    .holder {
        width: 1.5rem;
        height: 1.5rem;
    }

    .container-main {
        margin-left: 0;
        padding: .75rem;
    }
    .container-main-item {
        padding: .75rem;
    }
    .container-card {
        margin: 0 0 2rem 0;
    }
}

@media (min-width: $xxl) {
    .container {
        max-width: $container-max-width + 200px;
    }
}
