html,body,div,section,main,aside,
h1,h2,h3,h4,h5,h6,p,
ol,ul,li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.active {
    display: block;
    margin: 0;
    padding: 0;
}

.inactive {
    display: none;
}

