// Headings

h2 {
    font-size: 1.375rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.125rem;
    margin-top: 1.25rem;
}

h4 {
    font-size: 1rem;
    margin-top: 1rem;
}

h5 {
    font-size: .875rem;
    margin-top: 1rem;
}

h6 {
    font-size: .75rem;
    margin-top: 1rem;
}

// Paragraph 

p {
    margin-top: 1rem;
}    
