.container-fluid {
    width: 100%;
    overflow: auto;
}

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
}

.items-container {
    background-color: $white;
    padding: 1.5rem 1rem 0;
}

.card-container {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    
}

@media (min-width: $sm) {
    .items-container {
        padding: 1.5rem 1.5rem 0;
    }
}

@media (min-width: $md) {
    .items-container {
        margin-left: 1rem;
        padding: 1rem 1rem 0;
    }

    .card-container {
        padding: 0 1.5rem 1.5rem;

        
    }
}

@media (min-width: $lg) {
    .items-container {
        margin-left: 0;
        padding: 1.5rem 1.5rem 0;
    }

    .card-container {
        padding: 0 0 1.5rem 1.5rem;
        
    }
}