// 主色调
$primary-light: #f3f7f5 !default;
$primary:       #8cb65f !default;
$primary-dark:  #779b51 !default;

// 副色调
$secondary-light:  #f3c563 !default;
$secondary:        #fbb929 !default;
$secondary-dark:   #f4a802 !default;

// 灰度
$white:    #fff !default;
$grey-100: #f8f9fa !default;
$grey-200: #e9ecef !default;
$grey-300: #dee2e6 !default;
$grey-400: #ced4da !default;
$grey-500: #adb5bd !default;
$grey-600: #6c757d !default;
$grey-700: #495057 !default;
$grey-800: #343a40 !default;
$grey-900: #212529 !default;
$black:    #000 !default;

// 辅助色
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
