{{ define "stager" }}
<main>
    <div id="breadcrumb">
        {{ partial "blog/breadcrumb.html" . }}
    </div>
    <div id="blogpost">
        {{ partial "blog/blogpost.html" . }}
    </div>
    <div id="navigator">
        {{ partial "blog/navigator.html" . }}
    </div>
</main>
<aside>
    <div class="sider-inner-container">
        <div class="card-container">
            {{ partial "blog/toc.html" . }}
        </div>
        <div class="card-container">
            {{ partial "blog/related.html" . }}
        </div>
    </div>
</aside>
<div class="toggles">
    <a class="sider-open"><i class="bi bi-layout-sidebar"></i></a>
    <a class="sider-close"><i class="bi bi-x"></i></a>
</div>
{{ end }}
