{{ range first 1 (where .Site.RegularPages "Params.headline.enabled" true) }}
    {{ with .Params.headline.background }}
    <div id="headline" style="background: url({{ . | relURL}}) center center no-repeat;">
    {{ else }}
    <div id="headline" style="background: url({{ .Site.Params.headline | relURL}}) center center no-repeat;">
    {{ end }}
        <div class="container">
        
            <div class="headline">

                <a href="{{ .Permalink }}">{{ .Params.title }}</a>
                <p>{{ .Summary }}</p>

            </div>

        </div>
    </div>
{{ end }}