.breadcrumb {
    list-style: none;

    padding: .75rem 1rem;
    color: $grey-600;
    font-size: .875rem;

    .breadcrumb-item {
       display: inline;
       &+.breadcrumb-item:before {
          content: "/";
          margin: 0 .75rem;
          font-size: .75rem;
       }
    }
 }

 @media (min-width: $lg) {
   .breadcrumb {
      padding: 1rem 1rem;
   }
}

 