.content {
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;



    .content-header {
        text-align: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid $grey-200;
        .title {
            color: $grey-700;
            margin-top: 1rem;
            font-size: 1.5rem;
        }
        .meta {
            color: $grey-600;
            margin: 1rem 0 2rem;
            font-size: .875rem;
        }
    }

    .content-tag {
        border-top: 1px solid $grey-200;
        border-bottom: 1px solid $grey-200;
        text-align: center;
        padding: .5rem 0;
        margin: 2rem 0;

        font-size: .875rem;

        a {
            display: inline-block;
            margin: 0 .375rem;
        }
    }

    .content-nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        font-size: .875rem;

        a {
            display: block;
            margin: .25rem .5rem;
        }
    }

    a {
        color: $primary;
        transition: all 1s;
        &:hover {
            color: $secondary;
        }
    }
}






@media (min-width: $sm) {
    .content {
        .content-nav {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (min-width: $lg) {
    .content {
        padding: 1rem;

    }
}
