<div class="container-card">
    {{ with .Site.Taxonomies.categories }}
    <section class="card">
        <div class="card-title">{{i18n "category"}}</div>
        <div class="dumbbell">
            {{ range . }}
            <a href="{{.Page.Permalink}}">
                <span>{{.Page.Title}}</span>
                <span class="dashed-line"></span>
                <span>{{.Count}}</span>
            </a>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

<div class="container-card">
    {{ with .Site.Taxonomies.tags }}
    <section class="card">
        <div class="card-title">{{i18n "tag"}}</div>
        <div class="follow">
            {{ range . }}
            <a href="{{.Page.Permalink}}">{{.Page.Title}}({{.Count}})</a>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>