<div class="container-main">
    {{ range .Paginator.Pages }}
    <div class="container-item">
        <section class="item">
            <div class="item-thumbnail">

            {{ if (ne .Params.thumbnail "") }}
                <img src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail">
            {{ else }}
                <img src="{{"images/thumbnail.jpg" | relURL}}" alt="Thumbnail">
            {{ end }}


            </div>
            <div class="item-text">
                <p class="title">{{ .Title }}</p>
                <div class="brief">{{ .Summary }}</div>
                <div class="meta">
                    <p class="data">
                        <span>{{.Date.Format "2006-01-02"}}</span>
                        <span>
                        By {{ if ne .Params.author "" }}
                        {{ .Params.author }}
                        {{ else }}
                        {{ .Site.Author.name }}
                        {{ end }}
                        </span>
                    </p>
                    <a class="readmore" href="{{.Permalink}}">{{ i18n "read"}}</a>
                </div>
            </div>
        </section>
    </div>
    {{ end }}
</div>