.about {
    display: flex;
    flex-flow: wrap;
    .avatar {
        width: 100%;
        background-color: $grey-100;
        img {
            width: 100px;
            border-radius: 20px;
            border: .25rem solid $white;
            display: block;
            margin: 25px auto;
        }
    }
    .description {
        width: 100%;
        background-color: $grey-500;
        color: $white;
        h3 {
            padding: 1.5rem 1.5rem 0;
        }

        p {
            font-size: .875rem;
            padding: .5rem 1.5rem 1rem;
        }

    }
}

@media (min-width: $sm) {
    .about {
        .avatar {
            width: 40%;
        }
        .description {
            width: 60%;
        }
    }
}

@media (min-width: $md) {
    .about {
        .avatar {
            width: 100%;
        }
        .description {
            width: 100%;
        }
    }
}