.about {
    margin: 0 auto;

    max-width: 400px;

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 100px;
            border-radius: 50px;
        }
    }
    .name {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.25rem;
        color: $grey-800;
    }
    .description {
        margin: 1rem 1rem 0;
        color: $grey-700;
        text-align: justify;
        font-size: .875rem;
        line-height: 1.5rem;
    }

    .email {
        margin: .5rem 1rem 0;
        color: $grey-700;
        text-align: center;
        font-size: .875rem;
        line-height: 1.5rem;
    }

}