.about {
    color: var(--stager-ft);
    padding: 1rem;

    .avatar {
        display: flex;
        justify-content: center;

        img {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            margin-bottom: 1rem;
        }
    }

    .name {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: .75rem;
    }
    .description {
        margin-bottom: .5rem;
    }
    .email {
        text-align: center;
        font-size: .875rem;
        span {
            margin: 0 .125rem;
        }
    }
}