.breadcrumb {
   background-color: $gray-100;
   list-style: none;
   margin: 0;
   padding: 1rem 1rem;
   color: $gray-700;
   font-size: .875rem;
   line-height: 1.5rem;
   .breadcrumb-item {
      display: inline;
      &+.breadcrumb-item:before {
         content: "/";
         margin: 0 .75rem;
         font-size: .75rem;
      }
   }
}

@media (min-width: $sm) {
   .breadcrumb {
      padding: 1rem 2rem;
   }
}
