.card {

    border: 1px solid $grey-400;
    padding: .75rem;
    position: relative;

    .card-title {

        position: absolute;
        top: -0.75rem;
        right: 1rem;

        background-color: $grey-100;
        padding: 0 .5rem;

        font-size: 1rem;
        line-height: 1rem;
        color: $grey-500;

    }

    a {
        text-decoration: none;
        border-radius: .25rem;
        font-size: .875rem;
        line-height: 1.25rem;
        color: $primary;
        transition: all 1s;
        &:hover {
            background-color: $secondary;
            color: $grey-700;
        }
    }
}

.dumbbell {

    a {
        padding: .25rem;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .dashed-line {
            flex: 1;
            border-bottom: 1px dashed grey;
            margin: 0 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.follow {

    a {
        display: inline-block;
        line-height: 1.5rem;
        margin-right: .5rem;
        padding: 0 .25rem;
    }
}

.normal {
    ul {
        list-style: none;
        margin: 0 1.25rem;
        padding: 0;
        li {
            line-height: 1.5rem;
            &::before {
                content: "\2022";
                color: $primary;
                font-weight: bold;
                display: inline-block; 
                width: 1rem;
                margin-left: -1rem;
            }
        }
    }

    img {
        width: 100%;
        max-width: 100%;
    }
    p {
        text-align: center;
        font-size: .875rem;
        color: $grey-600;
        margin-top: .5rem;
        i {
            font-size: 1rem;
            margin-right: .5rem;
        }
    }
}


  

