.content {
    .content-header {
        text-align: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid $grey-300;

        .title {
            font-size: 1.5rem;
            color: $grey-700;
            margin-top: 2rem;
        }
        .meta {
            font-size: .875rem;
            color: $grey-500;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}

.content-tag {
    border-top: 1px solid $grey-200;
    border-bottom: 1px solid $grey-200;
    font-size: .875rem;
    color: $grey-500;
    padding: .75rem;
    margin-top: 1rem;
    text-align: center;
    a {
        margin: 0 .5rem;
        text-decoration: none;
        color: $primary;
        transition: all 1s;
        &:hover {
            color: $primary-dark;
        }
    }
}

.content-nav {
    font-size: .875rem;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $primary;
        transition: all 1s;
        &:hover {
            color: $primary-dark;
        }
    }
    
}