.copyright {
    padding: 1rem;

    color: var(--slate-600);
    font-size: .875rem;
    text-align: center;

    span {
        margin-right: .5rem;
        i {
            margin-right: .25rem;
        }
    }
}