.docs-post {
    color: var(--slate-600);
    .post-header {
        border-bottom: 1px solid var(--slate-200);
        .post-title {
            padding-top: 1rem;
        }
        .post-meta {
            padding: 1.25rem 0;
            font-size: .875rem;
            span {
                margin-right: 1rem;
                i {
                    margin-right: .25rem;
                    color: var(--primary-500);
                }
            }
        }
    }
    .post-container {
        margin-bottom: 2rem;
        .post-toc {
            font-size: .875rem;
            background-color: var(--primary-050);
            padding: 1rem 1rem 1rem 2rem;
            margin-top: 1rem;
        }
    }
}

@media (min-width: $xl) {
    .docs-post {
        .post-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            .post-content {
                margin-right: 2rem;
                flex: 1;
                overflow: auto;
            }
            .post-toc {
                width: 230px;
            }
        }
    }
}

@media (min-width: $xxl) {
    .docs-post {
        .post-container {
            .post-content {
                flex: none;
                width: 922px;
            }
            .post-toc {
                flex: 1;
            }
        }
    }
}