.gallery {

    background-color: $grey-800;

    .active {
        display: block;
    }

    .inactive {
        display: none;
    }

    a {

        padding: .75rem;

        border-left: 1px solid $grey-600;

        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $grey-500;
        transition: all 1s;
        &:hover {
            color: $white;
            background-color: $grey-900;
        }
    }

    .gallery-button {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

    }

    .button-bottom { 

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;

        border-top: 1px solid $grey-600;

        background-color: rgba($grey-800, 0.9);
    }
    
    .button-top {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        border-bottom: 1px solid $grey-600;

        background-color: rgba($grey-800, 0.9);
    }


    .gallery-stage {

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .gallery-item {

            max-width: 100vw;
            max-height: 85vh;

            padding: 0 .5rem;

            img {
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;

                margin: 0 auto;
            }

            .item-info {
                position: fixed;
                bottom: 4rem;
                right: 1rem;
                left: 1rem;

                background-color: rgba($grey-900,0.9);
                border-radius: .5rem;

                padding: .875rem;

                .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .5rem;
                    color: $grey-500;


                    span {
                        font-size: .875rem;
                        margin: .125rem;
                    }
                }



                p {
                    font-size: .875rem;
                    line-height: 1.5rem;
                    color: $grey-500;
                    text-align: justify;

                    border-top: 1px solid $grey-600;
                    padding: .25rem 0;

                    span {
                        font-size: .75rem;
                        margin: .25rem;
                    }


                }



            }
        }       
    }
}

@media (min-width: $sm) {

    .gallery {
      
        .gallery-stage {
    
            .gallery-item {
    
                .item-info {
                    left: auto;
                    right: 1rem;
                    width: 400px;
                }
            }       
        }
    }

}
