#headline {
    height: $headline-height;

    .container {
        height: $headline-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.headline {
    background-color: rgba($black, .50);
    width: 75%;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    color: $headline-text-color;


    a {
        display: block;
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $headline-text-color;
        transition: all 1s;
        &:hover {
            color: $headline-text-hover-color;
        }
    }

    p {
        text-align: left;

        margin-top: 1rem;
    }

}