#headline {
    .container {
        height: $headline-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.headline {
    background-color: rgba($black, .50);
    width: 75%;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    color: $grey-300;


    a {
        display: block;
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $grey-300;
        transition: all .75s;
        &:hover {
            color: $white;
        }
    }

    p {
        margin-top: 1rem;

        font-size: 1rem;
        line-height: 1.5rem;
        
        text-align: left;
    }

}