
.gw-item {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: .875rem;

    a {
        text-decoration: none;
        transition: all 1s;
        &:hover {
            text-decoration: underline;
        }
    }
    .gw-item-thumbnail {
        display: none;
    }
    .gw-item-body {
        flex: 1;
        .title {
            font-size: 1.25rem;
            font-weight: bold;
            color: $gray-800;
        }
        .readmore {
            color: $secondary;
        }
        p {
            margin: .5rem 0;
            color: $gray-700;
            line-height: 1.25rem;
            span {
                color: $gray-600;
            }
        }
    }

}


@media (min-width: $md) {
   .gw-item {
        max-width: 700px;
      .gw-item-thumbnail {
         display: block;
         width: 100px;
         margin-right: 16px;
         img {
            width: 100%;
            max-width: 100;
            margin-top: .25rem;
         }
      }
   }
}

@media (min-width: $xxl) {

    .gw-item {
        max-width: 800px;
    }
}
