.item {

    display: flex;
    padding-bottom: .5rem;
    border-bottom: 1px solid $grey-200;

    .item-thumbnail {

        display: none;

        width: 120px;
        height: 120px;
        margin-right: 1rem;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .item-text {
        flex: 1;
        display: flex;
        flex-direction: column;


    
        .title {
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: bold;
            color: $grey-700;
            margin-bottom: .5rem;
        }

        .brief {
            flex: 1;

            color: $grey-700;
            font-size: .875rem;
            line-height: 1.5rem;
            text-align: justify;

        }

        .meta {
            padding: .5rem 0;
            display: flex;
            flex-direction: row;
            align-items: center; 
            justify-content: space-between;

            .data {
                color: $grey-500;
                font-size: .875rem;
            }

            a {
                font-size: .875rem;
                color: $primary-dark;
                text-decoration: none;
                margin: 0 .5rem 0 0;
                transition: all 1s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}
.container-item {
    padding: .5rem;
    &:last-child {
        .item {
            padding-bottom: 0;
            border-bottom: 0 solid $grey-200;
        }
    }
}

@media (min-width: $sm) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}

@media (min-width: $md) {
    .item {
        .item-thumbnail {
            display: none;
        }
    }
}

@media (min-width: $lg) {
    .item {
        padding-bottom: 1.5rem;
        .item-thumbnail {
            display: block;
        }
    }
}

@media (min-width: $xl) {
    .container-item {
        padding: .75rem;
    }
}