.item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--baseof-bd);
    

    display: flex;
    flex-direction: row;

    .item-thumbnail {

        display: none;
        padding: 0;

        width: 180px;
        height: 120px;
        margin-right: 1rem;

        img {
            width: 100%;
            max-width: 100%;
            border-radius: .5rem;
        }
    }
    
    .item-text {
        flex: 1;

        .item-text-title {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        .item-text-brief {
            font-size: .875rem;
            line-height: 1.375rem;
            margin: .5rem 0;
        }

        .item-text-meta {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: .875rem;
            span {
                margin-right: 1rem;
            }
        }

        a {
            display: block;
            color: var(--stager-ft);
            background-color: var(--white);
            transition: all .5s;
            &:hover {
                color: var(--gray-900);
                background-color: var(--primary-light);
            }
        }

    }

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

}

@media (min-width: $sm) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}

@media (min-width: $md) {
    .item {
        .item-thumbnail {
            display: none;
        }
    }
}

@media (min-width: $lg) {
    .item {
        .item-thumbnail {
            display: block;
        }
    }
}


