.markdown {

    a {
        color: var(--primary-400);
        &:hover {
            color: var(--primary-600);
        }
    }


    // 引用
    blockquote {
        border-left: .375rem solid var(--slate-300);
        background-color: var(--slate-000);
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        p {
            margin: 0;
        }
    }

    // 短代码
    code {
        font-family:monospace;
        font-size: .875rem;
        line-height: 1.5rem;
        background-color: var(--slate-000);
        padding: .125rem .375rem;
    }

    // 格式化文本 或 长代码
    pre {
        margin-top: 1rem;
        padding: .5rem 1rem;
        background-color: var(--slate-000);
        border: 1px solid var(--slate-100);

        overflow-x: auto;

        code {
            padding: 0;
        }
    }

        // 脚注
    .footnotes {
        margin-top: 3rem;
        border-top: 1px solid var(--slate-300);

        hr {
            display: none;
        }

        ol {
            font-size: .875rem;
            padding-left: 1rem;
            li {
                padding-left: .5rem;
                p {
                    line-height: 1.5rem;
                    .footnote-backref {
                        padding: 0 .25rem;

                    }
                }
            }
        }
    }

    cite {
        font-size: .75rem;
        .footnote-ref {

            font-style: normal;
            padding: .125rem .125rem;

            &::before {
                content: "【";

            }

            &::after {
                content: "】";

            }
        }
    }

    // 图片
    img {
        margin-top: 1rem;
        width: 100%;
        max-width: 100%;
    }

    // 列表
    ol,ul {
        margin-top: 1rem;
        padding-left: 1.5rem;

        ol,ul {
            margin-top: 0;
            padding-left: 2rem;
        }
        
        li {
            margin-top: .25rem;
        }
    }

    ul {
        li {
            list-style: disc;
        }
    }

    abbr {}

    // 下标 上标
    sub,sup {
        font-size: .625rem;
    }

    // 键盘按键
    kbd {
        background-color: var(--slate-600);
        color: var(--slate-100);
        font-size: .75rem;
        padding: .25rem .375rem;
        margin: 0 .375rem;
        border-radius: .25rem;
    }

    // 标记
    mark {
        background-color: var(--primary-400);
        color: var(--white);
        padding: 0 .25rem;
    }

    .table-container {
        overflow: auto;


        table {
            width: 100%;
            margin-top: 1rem;
            font-size: .875rem;
            tr {}
            th {
                background-color: var(--slate-300);
                padding: .5rem .75rem;
                text-align: center;
            }
            td {
                background-color: var(--slate-100);
                padding: .25rem .5rem;
                text-align: center;
            }
        }
    }

    // Headings

    h2 {
        font-size: 1.375rem;
        margin-top: 1.5rem;
    }

    h3 {
        font-size: 1.125rem;
        margin-top: 1.25rem;
    }

    h4 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    h5 {
        font-size: .875rem;
        margin-top: 1rem;
    }

    h6 {
        font-size: .75rem;
        margin-top: 1rem;
    }

    // Paragraph 

    p {
        margin-top: 1rem;
        line-height: 1.75rem;
    }  

}