@use '../abstracts/variables' as *;

.masonry{
    margin: 2rem 0;

    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari 和 Chrome */
    column-count:1;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;

    .masonry-item{
        padding: 1em;
        margin: 0 0 1em 0;
        -moz-page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;

        background-color: var(--white);
        border: 1px solid var(--slate-200);
        box-shadow: .5rem .5rem .5rem var(--slate-100);

        img{
            display: block;
            width: 100%;
            max-width: 100%;
        }

        a {
            display: block;
            margin: 1.25rem 0 .5rem;

            font-size: 1.125rem;
            line-height: 1.25rem;

            font-weight: bold;
            color: var(--slate-700);
            &:hover {
                color: var(--primary-600);
            }
        }

        p {
            font-size: .875rem;
            color: var(--slate-700);
        }
    }
}


@media (min-width: $lg) {
    .masonry{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari 和 Chrome */
        column-count:2;
    }
}


@media (min-width: $xxl) {
    .masonry{
        -moz-column-count:3; /* Firefox */
        -webkit-column-count:3; /* Safari 和 Chrome */
        column-count:3;
    }
}