
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;

    a {
        display: block;
        padding: 0 .5rem;
        font-size: .875rem;
        line-height: $header-height;
        color: $grey-500;
        transition: all 1s;
        &:hover {
            color: $grey-600;
        }
    }

    .active {
        color: $grey-600;
    }
}

@media (min-width: $sm) {
    .menu {
   
        a {
            padding: 0 .75rem;
        }
    }
}