.menu {
    font-size: .875rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    .menu-item {
        display: block;
        margin-left: .75rem;
    
        color: $grey-600;
        transition: all .75s;
        &:hover {
            color: $primary;
        }
    }

    .active {
        color: $primary;
    }
}


@media (min-width: $sm) {
    .menu {
        .menu-item {
            margin-left: 1rem;
        }
    }
}

@media (min-width: $xl) {
    .menu {
        font-size: 1rem;

        .menu-item {
            margin-left: 1rem;
        }
    }
}
