.navigator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 1rem;

    .navigator-item {
        width: 50%;

        .item-link {
            font-size: .875rem;
            line-height: 1.5rem;
            color: var(--slate-600);
            transition: .5rem;
            &:hover {
                color: var(--white);
            }
            i {
                margin: 0 .5rem;
            }
        }
        .left {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
    
        }
        .right {
            display: flex;
            flex-direction: row-reverse;
            align-items: stretch;
            justify-content: flex-start;
    
        }
    }

}