.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 2rem 1rem;

    a {
        display: block;
        border: 1px solid $grey-400;
        margin: 0 .375rem;
        padding: .375rem .625rem;

        font-size: 1rem;
        background-color: $pagination-background-color;

        color: $pagination-text-color;

        transition: all 1s;
        &:hover {

            background-color: $pagination-background-hover-color;
            color: $pagination-text-hover-color;

        }

    }

    .active {
        background-color: $pagination-background-hover-color;
        color: $white;

    }
}