.info {
    border-top: .375rem solid $blue;
    background-color: rgba($blue,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    line-height: 1.5rem;
}

.warning {
    border-top: .375rem solid $orange;
    background-color: rgba($orange,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    line-height: 1.5rem;
}

.danger {
    border-top: .375rem solid $red;
    background-color: rgba($red,.15);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    color: $grey-800;
    line-height: 1.5rem;
}

.myfigure {

    figure {
        margin: 0;
        padding: 0;
        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
        figcaption {
            padding: 0 .5rem;
            text-align: right;
            font-family: $serif;
            font-size: .75rem;
            line-height: 1.75rem;
            color: $grey-600;
        }
    }
}



