#TableOfContents {
    ul {
        list-style: disc;
        margin: 0;
        li {
            a {
                display: block;
                padding: .25rem 0;

                color: var(--slate-700);
                &:hover {
                    color: var(--primary-600);
                }
            }
        }

        ul {
            margin-left: 1rem;
        }
    }
}