<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    {{- partial "baseof/head.html" . -}}
    <body class="gallery">

        <div class="gallery-button button-top">
            <a class="btn-exitfullscreen inactive">
                <i class="bi bi-fullscreen-exit"></i>
            </a>
            <a class="btn-fullscreen">
                <i class="bi bi-fullscreen"></i>
            </a>
            <a class="btn-exit" href="{{.Section | relLangURL}}" >
                <i class="bi bi-x-lg"></i>
            </a>
        </div>


        <div class="gallery-stage">
            {{$data := (index .Site.Data.gallery .Params.data)}}
            {{ range $id, $value := $data.item }}
            <div class="gallery-item {{if (eq $id 0)}}active{{else}}inactive{{end}}">
                <img src="{{.url}}" alt="{{.title}}">
                <div class="item-info inactive">
                    <div class="title">
                        <h4>{{.title}}</h4>
                        <span>
                            <span>{{.id}}</span>
                            <span>/</span>
                            <span>{{$data.total}}</span>
                        </span>
                    </div>
                    <p>{{.description}}</p>
                    <p>
                        <span>©{{.author}}</span>
                        <span>|</span>
                        <span>{{.size}}</span>
                        <span>|</span>
                        <span>{{.other}}</span>
                    </p>
                </div>
            </div>
            {{end}}
        </div>

        <div class="gallery-button button-bottom">
            <a class="btn-text">
                <i class="bi bi-info-lg"></i>
            </a>
            <a class="btn-left">
                <i class="bi bi-chevron-left"></i>
            </a>
            <a class="btn-right">
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>


        <!-- Javascripts -->
        {{- partial "baseof/foot.html" . -}}
    </body>
</html>
