<!-- 页面的基本框架 开始 -->
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-theme="light">
    <head>
        {{- partial "baseof/head.html" . -}}
    </head>
    <body>
        <header id="header">
            {{- partial "baseof/header.html" . -}}
        </header>
        <div id="necker">
            {{- block "necker" . }}{{- end }}
        </div>
        <div id="stager">
            {{- block "stager" . }}{{- end }}
        </div>
        <footer id="footer">
            {{- partial "baseof/footer.html" . -}}
        </footer>
        {{- partial "baseof/foot.html" . -}}
    </body>
</html>
<!-- 页面的基本框架 结束 -->
