<!DOCTYPE html>
<html lang={{.Site.LanguageCode}}>

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />

        <!-- For responsive website -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- For SEO -->
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Title -->
        <title>{{ .Title }} ｜ {{ .Site.Title }}</title>

        <!-- Favicon & icons -->
        <link href={{ "favicon.png" | relURL }} rel="icon">
        <link rel="stylesheet" href={{ "bootstrap-icons-1.10.4/font/bootstrap-icons.css" | relURL }}>


        <!-- Local CSS from SASS-->
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $style := $sass | resources.ToCSS (dict "targetPath" "css/main.css" ) }}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}">

    </head>

    <body>
    
        {{- partial "header.html" . -}} 

        {{- block "necker" . }}{{- end }}

        {{- block "stager" . }}{{- end }}

        {{- partial "footer.html" . -}} 

        <!-- Javascripts -->

        <script src={{ "js/jquery-3.6.0.js" | relURL }}></script>
        <script src={{ "js/main.js" | relURL }}></script>

    </body>

</html>
