{{ define "stager" }}

<div class="container-fluid flex-1 bg-stager">
    <div class="container">
        <div class="breadcrumb">
            {{- partial "common/breadcrumb.html" . -}}
        </div>
        <div class="stager">
            <main>
                {{- partial "list/listlist.html" . -}}
                {{- partial "list/pagination.html" . -}}
            </main>
            <aside>
                {{- partial "list/category.html" . -}}
                {{- partial "list/tag.html" . -}}
            </aside>
        </div>

    </div>
</div>

{{ end }}