{{ define "stager" }}
<aside class="aside-default">
    <div class="inner-container">
        <div id="menutree">
            {{ partial "docs/menu-tree.html" . }}
        </div>
    </div>
</aside>
<main>
    <div id="docspost">
        {{ partial "docs/docs-post.html" . }}
    </div>
</main>
<div class="toggles">
    <a class="sider-open"><i class="bi bi-layout-sidebar"></i></a>
    <a class="sider-close"><i class="bi bi-x"></i></a>
    <a class="totop" href="#"><i class="bi bi-chevron-up"></i></a>
    <a href="#TableOfContents"><i class="bi bi-list-ul"></i></a>
</div>
{{ end }}


