{{ define "necker" }}
<div class="container">
    {{- partial "common/breadcrumb.html" . -}}
</div>

{{ end }}

{{ define "stager" }}
<div id="stager">
    <div class="container">
        <main>
            {{- partial "blog/single-content.html" . -}}
        </main>
        <aside>
            {{- partial "blog/single-toc.html" . -}}
            {{- partial "blog/single-related.html" . -}}
        </aside>
    </div>
</div>

<div id="totoc">
    <a href="#toc"><i class="bi bi-arrow-up-square"></i></a>
</div>
{{ end }}