{{ define "stager" }}

<div class="container-fluid flex-1 bg-stager">
    <div class="container">
        <div class="breadcrumb">
            {{- partial "common/breadcrumb.html" . -}}
        </div>
        <div class="stager">
            <main>
                {{- partial "single/content.html" . -}}
            </main>
            <aside>
                {{- partial "single/toc.html" . -}}
                {{- partial "single/related.html" . -}}
            </aside>
        </div>

    </div>
</div>

<div id="totoc">
    <a href="#toc"><i class="bi bi-chevron-up"></i></a>
</div>

{{ end }}