#breadcrumb {
    padding: 1rem;
}

#bloglist {
    display: flex;
    flex-flow: wrap;
    padding: .5rem;
    .card-post-container {
        width: 100%;
        padding: .5rem;
    }
}

#blogpost {
    padding: 1rem;
}

#paginator {
    padding: 2rem;
}

#navigator {
    padding: 1rem;
}

.card-sider-container {
    margin: 2rem;
}

@media (min-width: $xl) {
    #bloglist {
        padding: 0 1rem;
        .card-post-container {
            width: 50%;
        }
    }
    #blogpost {
        padding: 1rem 2rem;
    }

    #navigator {
        padding: 1rem 2rem;
    }
}

@media (min-width: $xxl) {
    #breadcrumb {
        padding: 1rem 2rem;
    }
}

@media (min-width: $xxxl) {
    #bloglist {
        padding: 0 1rem;
        .card-post-container {
            width: 33.33%;
        }
    }

}