#headline {
    width: 100%;
}

#headline-list {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-flow: wrap;
    .card-container {
        padding: .5rem;
        width: 100%;
    }
}


@media (min-width: $md) {
    #headline-list {
        .card-container {

            width: 50%;
        }
    }
}

@media (min-width: $xl) {
    #headline-list {
        padding: 1rem 1.5rem;
        .card-container {
            padding: .75rem;
            width: 33.33%;
        }
    }
}

@media (min-width: $xxxl) {
    #headline-list {
        .card-container {
            width: 25%;
        }
    }
}