<header id="header">
    <div class="container">

        <a href="{{.Site.BaseURL}}"><div class="logo">{{.Site.Title}}</div></a>

        <nav class="menu">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ $active := eq .Name $current.Title }}
                {{ $active = or $active ( eq .Identifier $current.Section ) }}
                <a class="menu-item {{ if $active }} active {{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}

            {{ if .Site.IsMultiLingual }}
            {{- $p := .Site.Language.LanguageName -}}
                {{ range $.Site.Home.AllTranslations }}
                    {{- if ne .Language.LanguageName $p }}
                    <a class="menu-item" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </nav>

    </div>
</header>
