{{ range .Paginator.Pages }}

<section class="item">

    <div class="item-thumbnail">
    {{ with .Resources.Get "thumbnail.jpg" }}
        <img src="{{ .RelPermalink }}" alt="Thumbnail">
    {{ else }}
        {{ with .Params.thumbnail }}
            <img src="{{ . | relURL}}" alt="Thumbnail">
        {{ else }}
            <img src="{{"image/default/thumbnail.jpg" | relURL}}" alt="Thumbnail">
        {{ end }}
    {{ end }}
    </div>

    <div class="item-text">
        <a href="{{.Permalink}}">
            <div class="item-text-title"><b>{{ .Title }}</b></div>
            <div class="item-text-brief">{{ .Summary }}</div>
            <div class="item-text-meta">
                <p>
                    <span>{{.Date.Format "Jan 2, 2006"}}</span>
                    <span>
                    By {{ if ne .Params.author "" }}
                    {{ .Params.author }}
                    {{ else }}
                    {{ .Site.Author.name }}
                    {{ end }}
                    </span>
                </p>
            </div>
        </a>
    </div>

</section>
    

{{ end }}



