// 主色调
$primary:   #59832c !default;

// 副色调
$secondary: #fbb929 !default;

// 灰度
$white:    #ffffff !default;
$grey-100: #f8f9fa !default;
$grey-200: #e9ecef !default;
$grey-300: #dee2e6 !default;
$grey-400: #ced4da !default;
$grey-500: #adb5bd !default;
$grey-600: #6c757d !default;
$grey-700: #495057 !default;
$grey-800: #343a40 !default;
$grey-900: #212529 !default;
$black:    #000000 !default;

$pink: rgb(236, 118, 8) !default;


