<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}" data-theme="{{.Site.Params.themestyle}}">
    <head>
        {{ partial "baseof/head.html" . }}
    </head>
    <body>
        <header id="header">
            {{ partial "baseof/header.html" . }}
        </header>
        <div id="stager">
            <aside>
                {{ block "stager-aside" . }}{{ end }}
            </aside>
            <main>
                {{ block "stager-main" . }}{{ end }}
            </main>
        </div>
        <footer id="footer">
            {{ partial "baseof/footer.html" . }}
        </footer>
        {{ partial "baseof/foot.html" . }}
    </body>
</html>
