{{ define "necker" }}
<div class="container-fluid">
    {{- partial "headline.html" . -}}
</div>
{{ end }}

{{ define "stager" }}
<div class="container">
    <div class="stager">
        <main>
            <div class="list-container">
                {{- partial "headline-list.html" . -}}
            </div>
        </main>
        <div class="gutter"></div>
        <aside>
            <div class="cards-container">
                <div class="card-container">
                    {{- partial "about.html" . -}}
                </div>
            </div>
        </aside>
    </div>
</div>
{{ end }}