{{ range .Paginator.Pages }}
<div class="card-post-container">
    <section class="card-post">
        <div class="card-post-title">
            <a href="{{.Permalink}}"><b>{{ .Title }}</b></a>
        </div>
        {{ .Summary }}
        <div class="card-post-meta">
            <span>
                <i class="bi bi-calendar3"></i>
                {{.Date.Format "Jan 2, 2006"}}
            </span>
            <span>
                <i class="bi bi-person-circle"></i>
                {{ with .Params.author }}
                    {{ . }}
                {{ else }}
                    {{ .Site.Params.author }}
                {{ end }}
            </span>
        </div>
    </section>
</div>
{{ end }}