<div class="navigator">

    <div class="navigator-item">
        {{ with .PrevInSection }}
        <a class="left item-link" href="{{.Permalink}}">
            <span><i class="bi bi-chevron-left"></i></span>
            <span>{{.Title}}</span>
        </a>
        {{ end }}
    </div>

    <div class="navigator-item">
        {{ with .NextInSection }}
        <a class="right item-link" href="{{.Permalink}}">
            <span><i class="bi bi-chevron-right"></i></span>
            <span>{{.Title}}</span>
        </a>
        {{ end }}
    </div>

</div>