html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    font-size: $font-size;
    font-family: $sans-serif;
}

#header {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
        color: $title-text-color;
        font-size: 1.5rem;

    }
    .menu {
        font-size: .875rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu-item {
            display: block;
            margin: 0 .5rem;
        }
        .active {
            color: $header-text-hover-color;
        }

    }

    a {
        color: $header-text-color;;
        transition: all 1s;
        &:hover {
            color: $header-text-hover-color;
        }

    }
}

#footer {
    padding: 1rem;
    text-align: center;

    font-size: .875rem;
    color: $footer-text-color;;

    a {
        color: $footer-text-color;;
        transition: all 1s;
        &:hover {
            color: $footer-text-hover-color;
        }
    }
}


