.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.list-container {
    background-color: var(--white);
    margin-bottom: 2rem;
    padding: 1rem;
}

.single-container {
    background-color: var(--white);
    margin-bottom: 2rem;
    padding: 1rem;
}

.nav-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.cards-container {
    position: sticky;
    top: 3rem;
}

.card-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}