.stager {
    display: flex;
    flex-direction: column;
    main {
        overflow: auto;


    }
    aside {

    }
}


@media (min-width: $md) {
    .stager {
        flex-direction: row;
        align-items: stretch;

        main {
            flex: 1;
        }

        aside {
            width: 33.33%;
            min-width: $stage-aside-min-width;
            max-width: $stage-aside-max-width;
        }

    }
}

@media (min-width: $xl) {
    .stager {

        aside {
            max-width: $stage-aside-max-width + 50px;
        }

    }
}