{{ with .Get "src" }}
{{ $src := . }}

    {{ with $.Get "title" }}
    {{ $title := . }}

    <div class="figure">

        <figure>
            <a class="figure-toggle">
                <img src='{{ $src | absURL }}' />
            </a>
            <figcaption>
                {{ $title }}
            </figcaption>
        </figure>


        <div class="figure-modal-container inactive">

            <div class="figure-modal">
                <div class="btn-container">
                    <a class="btn-exitfullscreen inactive"><i class="bi bi-fullscreen-exit"></i></a>
                    <a class="btn-fullscreen"><i class="bi bi-fullscreen"></i></a>
                    <a class="btn-exit"><i class="bi bi-x-lg"></i></a>
                </div>

                <div class="img-container">
                    <img src="{{ $src | absURL }}" alt="{{ $title }}">
                </div>
                
            </div>

        </div>

    </div>

    {{ end }}

{{ end }}