{{ with .Get "src" }}
{{ $src := . }}

    {{ with $.Get "title" }}
    {{ $title := . }}

    <div class="myfigure modal">

        <figure>
            <a class="modal-toggle">
                <img src='{{ $src | absURL }}' />
            </a>
            <figcaption>
                {{ $title }}
            </figcaption>
        </figure>


        <div class="modal-container inactive">

            <div class="modal-content">

                <div class="modal-button">
                    <a class="btn-exitfullscreen inactive"><i class="bi bi-fullscreen-exit"></i></a>
                    <a class="btn-fullscreen"><i class="bi bi-fullscreen"></i></a>
                    <a class="btn-exit"><i class="bi bi-x-lg"></i></a>
                </div>

                <div class="modal-stage">
                    <img src="{{ $src | absURL }}" alt="{{ $title }}">
                </div>
                
            </div>

        </div>

    </div>

    {{ end }}

{{ end }}