:root[data-theme="light"] {

    --primary: #016072;
    --primary-light: #ddf6fb;
    --secondary: var(--orange);

    --baseof-bg: var(--white);
    --baseof-ft: var(--grey-600);
    --baseof-bd: var(--grey-200);

    --stager-bg: var(--grey-100);
    --stager-ft: var(--grey-600);
    --stager-bd: var(--grey-400);

}


