:root[data-theme="red"] {
    --primary-000: #ffecec;
    --primary-100: #ffd4d4;
    --primary-200: #ffadad;
    --primary-300: #ff8787;
    --primary-400: #ff5b5b;
    --primary-500: #ff0000;
    --primary-600: #dc0000;
    --primary-700: #ad0000;
    --primary-800: #7a0000;
    --primary-900: #470000;
    --primary-950: #2d0000;
}

:root[data-theme="blue"] {
    --primary-000: #e7f2fd;
    --primary-100: #c0e0f9;
    --primary-200: #76c4f4;
    --primary-300: #4aa9db;
    --primary-400: #3d8eb9;
    --primary-500: #317599;
    --primary-600: #296584;
    --primary-700: #1f4f68;
    --primary-800: #13374a;
    --primary-900: #081f2c;
    --primary-950: #04131b;
}

