:root {
    --white:     #ffffff;
    --black:     #000000;

    --slate-000: #f8f8f8;
    --slate-100: #e2e2e2;
    --slate-200: #c9c9c9;
    --slate-300: #adadad;
    --slate-400: #919191;
    --slate-500: #747474;
    --slate-600: #565656;
    --slate-700: #3a3a3a;
    --slate-800: #1f1f1f;
    --slate-900: #111111;

    --success: #52c41a;
    --warning: #fa8c16;
    --error:   #f5222d;
}